body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background-color:white;

}
.container{
    position:relative;
    min-width: 300px;
    min-height: 300px;
    background-color:black;
    padding:40px;
    border-radius:15px;


}
.calculator{
    position:relative;
    display:grid;
}
.calculator .number{
     position:relative;
     grid-column:span 4;
     height:100px;
     width:100%;
     border:none;
     border-color:black;
     background-color:#a7af7c;
     margin-bottom:10px;
     border-radius:10px;
     text-align:right;
     padding:10px;
     font-size:30px;

}


.calculator span {
    position: relative;
    display:grid;
    place-items: center;
    width:80px;
    height:80px;
    background: linear-gradient;
    cursor:pointer;
    font-size:30px;
    font-weight: 400;
   color:white;
}

.calculator .equal{
    grid-column: span 2;
    width: 200px;
}
